.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    position: relative;
    min-height: 170px;
}

.profile-photo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
}

.profile-info .username {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4F4F4D;
}

.profile-info .bio {
    font-size: 0.95rem;
    color: #555;
    margin-top: 2px;
}

.profile-actions {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.profile-actions a {
    font-size: 1.5rem;
    color: #888;
    text-decoration: none;
    transition: color 0.3s;
}

.profile-actions a:hover {
    color: #4F4F4D;
}

.profile-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 13px;
    min-height: 300px;
}

.post-card {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px; 
}

.post-card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.post-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

.post-card:hover::after {
    opacity: 1;
}

.hidden-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.post-card:hover .hidden-text {
    opacity: 1;
}

.no-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    min-height: 250px;
    border-radius: 12px;
    grid-column: 2;
    grid-row: 1;
}

.no-posts-text {
    font-size: 1rem;
    color: #777;
    margin: 0;
}

.new-post-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4F4F4D;
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.new-post-btn:hover {
    background-color: #414141;
    transform: translateY(-2px);
}

.follow-form{
    margin: 0;
}

.follow-btn {
    background-color: #4F4F4D;
    color: #fff;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 0.95rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.follow-btn:hover {
    background-color: #414141;
}

.follow-info {
    display: flex;
    gap: 13px;
    font-size: 0.95rem;
    color: #555;
    font-weight: 500;
    align-items: center;
    margin-top: 5px;
}

.posts-count-wrapper {
    display: inline-flex;   
    gap: 4px;               
    align-items: center;
}

.follow-info span,
.follow-info a {
    color: #4F4F4D;
    text-decoration: none;
}

.follow-info a:hover {
    color: #101010;
    transition: color 0.3s ease;
}

.followers-count, 
.following-count, .posts-count{
    font-weight: 700;
}

.profile-tabs {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.profile-tabs a {
    font-size: 1.5rem;
    color: #888; 
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent; 
    transition: all 0.3s ease;
}

.profile-tabs a.active,
.profile-tabs a:hover {
    color: #4F4F4D;
    border-bottom-color: #4F4F4D; 
}
