{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/user/change-password.css' %}">
{% endblock head %}

{% block body %}
<div class="password-update-container">
    <h1 class="form-title">Change Password</h1>

    <form method="post" class="password-update-form">
        {% csrf_token %}

        <label class="pass-form-label" for="old_password">Current Password</label>
        <input class="pass-form-input" type="password" name="old_password" id="old_password" required>

        {% if form.old_password.errors %}
            <ul>
            {% for error in form.old_password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <label class="pass-form-label" for="new_password1">New Password</label>
        <input class="pass-form-input" type="password" name="new_password1" id="new_password1" required>

        {% if form.new_password1.errors %}
            <ul>
            {% for error in form.new_password1.errors %}
             <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <label class="pass-form-label" for="new_password2">Confirm New Password</label>
        <input class="pass-form-input" type="password" name="new_password2" id="new_password2" required>

        {% if form.new_password2.errors %}
            <ul>
            {% for error in form.new_password2.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="pass-form-buttons">
            <button class="btn-reset" type="submit">Reset Password</button>
            <a href="{% url 'user-update' user.pk %}" class="btn-back ">Back</a>
        </div>
    </form>
</div>
{% endblock body %}
