{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/user/user-profile.css' %}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<div class="profile-container">

    <div class="profile-header">
        <div class="profile-photo">
            {% if user.profile.profile_photo %}
                <img src="{{ user.profile.profile_photo.url }}" alt="profile photo">
            {% else %}
                <img src="https://res.cloudinary.com/dquu356xs/image/upload/v1757511943/no-pfp_sx5tta.webp" alt="Default Profile">
            {% endif %}
        </div>
        <div class="profile-info">
            <div class="username-row">
                <h1 class="username">{{user.username}}</h1>
                {% if request.user == user %}
                    <div class="profile-actions">
                        <a href="{% url 'user-update' user.pk%}"><i class="fa-solid fa-pencil"></i></a>
                        <a href="{% url 'user-delete' user.pk%}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                {% endif %}
            </div>
            <p class="bio">{{user.profile.bio}}</p>
        </div>
    </div>

    <div class="profile-posts">
        {% if visits %}
            {% for visit in visits %}
            <div class="post-card">
                <a href="{% url 'visit-details' visit.pk %}">
                    <img src="{{ visit.photo.url }}" alt="Visit photo">
                    <span class="hidden-text">View more</span>
                </a>
            </div>
            {% endfor %}
        {% else %}
            {% if request.user == user %}
                <div class="no-posts-container"> 
                    <p class="no-posts-text">No posts</p>
                    <a href="{% url 'visit-create' %}" class="new-post-btn">Create a Post</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock body %}
