@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: #f5f5f5;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.login-title {
    font-size: 2rem;
    color: #4F4F4D;
    margin-bottom: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-weight: 600;
    color: #4F4F4D;
}

input[type="text"],
input[type="password"] {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4F4F4D;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.login-btn {
    padding: 12px;
    background-color: #4F4F4D;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #333333;
}

.errorlist {
    color: #ff4d4f;
    margin: 0;
    padding-left: 20px;
}

.signup-text {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.signup-text a {
    color: #4F4F4D;
    font-weight: 600;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}