{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/signup.css' %}">
{% endblock head %}

{% block body %}
<div class="signup-container">
    <h1 class="signup-title">Sign Up</h1>
    
    <form method="post" enctype="multipart/form-data" class="signup-form">
        {% csrf_token %}

        <label for="profile_photo">Profile Photo</label>
        <input type="file" name="profile_photo" id="profile_photo" accept="image/*">

        {% if form.profile_photo.errors %}
            <ul>
            {% for error in form.profile_photo.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <label for="username">Username <span class="required">*</span></label>
        <input type="text" id="username" name="username" required>

        {% if form.username.errors %}
            <ul>
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <label for="password"> Password <span class="required">*</span></label>
        <input type="password" id="password" name="password" required>

        {% if form.password.errors %}
            <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="name-row">
            <div class="name-field">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name">

                {% if form.first_name.errors %}
                    <ul>
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %} 
            </div>
           
            <div class="name-field">
                <label for="last_name"> Last Name</label>
                <input type="text" id="last_name" name="last_name">

                    {% if form.last_name.errors %}
                        <ul>
                            {% for error in form.last_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                         </ul>
                    {% endif %}
            </div>
        </div>

        <label for="bio"> Bio</label>
        <textarea id="bio" name="bio">{{ form.bio.value|default_if_none:"" }}</textarea>

        {% if form.bio.errors %}
            <ul>
            {% for error in form.bio.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <p class="login-text"> Have an Account? <a href="{% url "login" %}">Login</a> </p> 

        <button class="signup-btn" type="submit">Sign Up</button>
    </form>
</div>
{% endblock body %}
