
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        {% if user.is_authenticated%}
        <a href="{%url 'visit-list'%}">visits</a> |
        <a href="{%url 'visit-create'%}">create visit</a> |
        <form action="/auth/logout/" method="post">
             {% csrf_token %}
            <button>Logout</button>
      </form>
      {% endif %}
    </nav>

    {% block head %}
    {% endblock head %}

    {% block body %}
    {% endblock body %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>