{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}

    {% if query %}
        <h2>Results for "{{ query }}"</h2>

        {% if users %}
            <h3>Users</h3>
            <ul>
                {% for user in users %}
                    <li>
                        <a href="{% url 'user-details' user.pk %}">
                            {{ user.username }} {{ user.first_name }} {{ user.last_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if countries %}
            <h3>Countries</h3>
            <ul>
                {% for country in countries %}
                    <li>
                        <a href="{% url 'country-details' country.pk %}">
                            {{ country.country_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if not users and not countries %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}

{% endblock body %}
