{% extends "base.html" %}
{% load static %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'styles/visit/visit-details.css' %}">
{% endblock head %}

{% block body %}
<div class="content">
    <div class="visit-card">
        <div class="user-info">
            <a href="{% url 'user-details' visit.user.pk %}">
                {% if visit.user.profile.profile_photo %}
                    <img src="{{ visit.user.profile.profile_photo.url }}" alt="{{ visit.user.username }}">
                {% else %}
                    <img src="https://res.cloudinary.com/dquu356xs/image/upload/v1757084328/no_profile_picture_sfbvet.avif" alt="Default Profile">
                {% endif %}
            </a>
            <div class="user-name-time-edit">
                <div>
                    <a href="{% url 'user-details' visit.user.pk %}" class="username">{{ visit.user.username }}</a>
                    <p class="visit-posted">{{ visit.created_at|timesince }} ago</p>
                </div>
                {% if user == visit.user %}
                <div class="edit-delete-btns">
                    <a href="{% url 'visit-update' visit.pk %}"><i class="fa-solid fa-pencil"></i></a>
                    <form method="post" action="{% url 'visit-delete' visit.pk %}">
                        {% csrf_token %}
                        <button type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        {% if visit.photo %}
        <div class="visit-photo">
            <img src="{{ visit.photo.url }}" alt="Visit photo">
        </div>
        {% endif %}

        <div class="like-section">
            <form method="post" action="{% url 'toggle_visit_like' visit.pk %}" class="like-form" id="{{ visit.pk }}">
                {% csrf_token %}
                <button type="submit" class="like-btn{{ visit.pk }}">
                    {% if visit.pk in liked_visits %}
                        <span class="like-count{{ visit.pk }}">♥ {{ visit.likes.count }}</span>
                    {% else %}
                        <span class="like-count{{ visit.pk }}">♡ {{ visit.likes.count }}</span>
                    {% endif %}
                </button>
            </form>
        </div>

        <a href="{% url 'country-details' visit.country.pk %}" class="location">
            <strong>{{ visit.city.city_name }}</strong> {{ visit.country.country_name }}
        </a>

        {% if visit.content %}
        <p class="visit-content">{{ visit.content }}</p>
        {% endif %}
        <p class="visit-dates">Visted on {{ visit.start_date.date }} - {{ visit.end_date.date|default:"N/A" }}</p>


    <div class="comments-section">
      <h2>Comments</h2>
      {% for comment in comments %}
      <div class="comment">
          <div class="comment-header">
              <div class="comment-user-left">
                  <a href="{% url 'user-details' comment.user.pk %}">
                      {% if comment.user.profile.profile_photo %}
                          <img src="{{ comment.user.profile.profile_photo.url }}" alt="{{ comment.user.username }}">
                      {% else %}
                          <img src="https://res.cloudinary.com/dquu356xs/image/upload/v1757084328/no_profile_picture_sfbvet.avif" alt="Default Profile">
                      {% endif %}
                  </a>
                  <div class="comment-username">
                    <a href="{% url 'user-details' comment.user.pk %}">{{ comment.user.username }}</a>
                    </div>
                  <div class="comment-date">{{ comment.created_at|timesince }} ago</div>
              </div>
             <div class="comment-actions">
                  <form method="post" action="{% url 'toggle_comment_like' comment.pk %}" class="comment-like-form" id="{{ comment.pk }}">
                      {% csrf_token %}
                      <button type="submit" class="comment-like-btn{{ comment.pk }}">
                        {% if comment.did_like %}
                            <span class="comment-like-count">♥ {{ comment.likes.count }}</span>
                        {% else %}
                            <span class="comment-like-count">♡ {{ comment.likes.count }}</span>
                        {% endif %}
                    </button>
                  </form>
                  {% if user == comment.user %}
                   <form method="post" action="{% url 'comment-delete' comment.pk %}">
                      {% csrf_token %}
                      <button type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                  {% endif %}
              </div>
          </div>
        <div class="comment-content">{{ comment.content }}</div>
    </div>
      {% empty %}
          <p>Start the conversation</p>
      {% endfor %}
    </div>

        {% if user.is_authenticated %}
        <div class="add-comment-form">
            <form method="post" action="{% url 'comment-create' visit.pk %}">
                {% csrf_token %}
                <textarea id="content" name="content" placeholder="Write a comment..." required></textarea>
                <button type="submit" class="action-btn">Submit</button>
            </form>
        </div>
        {% else %}
            <p>Log in to comment</p>
        {% endif %}

    </div>
</div>
{% endblock body %}

{% block scripts %} 
<script>
$(document).ready(function() {
    let display = false
    $(".cmt_btn").click(function() {
        if (display === false) {
            $(this).next(".comment-box").show("slow")
            display = true
        } else {
            $(this).next(".comment-box").hide("slow")
            display = false
        }
    })

    $('.like-form').submit(function(e){
        e.preventDefault()

        const post_id = $(this).attr('id')
        const likeText = $(`.like-btn${post_id}`).text()
        const trim = $.trim(likeText)
        const url = $(this).attr('action')

        let res
        const likes = $(`.like-count${post_id}`).text()
        const trimCount = parseInt(likes)

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'post_id': post_id,
            },
            success: function(response) {
                if(!response.liked) {
                    $(`.like-btn${post_id}`).html(`<span class="like-count${post_id}">♡ ${response.count}</span>`)
                } else {
                    $(`.like-btn${post_id}`).html(`<span class="like-count${post_id}">♥ ${response.count}</span>`)
                }
            },
            error: function(response) {
                console.log('error', response)
            }
        })
    })

    $('.comment-like-form').submit(function(e){
        e.preventDefault()

        const comment_id = $(this).attr('id')
        const likeText = $(`.comment-like-btn${comment_id}`).text()
        const trim = $.trim(likeText)
        const url = $(this).attr('action')

        let res
        const likes = $(`.comment-like-count${comment_id}`).text()
        const trimCount = parseInt(likes)

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'comment_id': comment_id,
            },
            success: function(response) {
                if(trim.includes('♥')) {
                    $(`.comment-like-btn${comment_id}`).html(`<span class="comment-like-count${comment_id}">♡ ${response.count}</span>`)
                } else {
                    $(`.comment-like-btn${comment_id}`).html(`<span class="comment-like-count${comment_id}">♥ ${response.count}</span>`)
                }
            },
            error: function(response) {
                console.log('error', response)
            }
        })
    })
})
</script>
{% endblock scripts %}
