{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}

  {% if visit %}
    <h1>Edit Post</h1>
  {% else %}
    <h1>New Post</h1>
  {% endif %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="country">Country:</label>
        {{ form.country }}

    <label for="city_name">City:</label>
        {{form.city}}

    <label for="start_date">Start Date:</label>
    <input value="{{ visit.start_date|date:'Y-m-d' }}" type="date" name="start_date" id="start_date" required>

    <label for="end_date">End Date:</label>
    <input value="{{ visit.end_date|date:'Y-m-d' }}" type="date" name="end_date" id="end_date">

    <label for="content">Content:</label>
    <textarea name="content" id="content" rows="4">{{visit.content}}</textarea>

    <label for="photo">Photo:</label>
    <input value="{{visit.photo}}" type="file" name="photo" id="photo" accept="image/*" required>

      
        
    {% if visit %}
      <button type="submit">Save</button>
      <a href="{% url "visit-details" visit.pk %}">Back</a>
    {% else %}
      <button type="submit">Post</button>
      <a href="{% url "visit-list" %}">Back</a>
    {% endif %}

  </form>
  

{% endblock body %}
