{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
    <h1>Visit details</h1>
    <p> city: {{visit.city_name}} </p>  
    <a href={% url "visit-update" visit.pk %}>edit</a>
    <form method="post" action="{% url "visit-delete" visit.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <h2>Comments</h2>
  
    {% for comment in comments %}
      <p>
        <strong>{{ comment.user.username }}</strong>: {{ comment.content }} </p>
        <p>{{comment.created_at}}</p>
      
    {% empty %}
      <p>Be the first to comment</p>
    {% endfor %}
  

  {% if user.is_authenticated %}
    <h3>Add a comment</h3>
    <form method="post" action="{% url 'comment-create' visit.id %}">
        {% csrf_token %}
        <label for="content">Comment:</label>
        <textarea id="content" name="content" required></textarea>
        <button type="submit">Submit</button>
    </form>
  {% else %}
    <p>Log in to comment</p>
  {% endif %}

{% endblock body %}
