{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/visit/visit-form.css' %}">
{% endblock head %}

{% block body %}
<div class="content">
  <div class="visit-card">

  {% if visit %}
    <h1 class="form-title">Edit Post</h1>
  {% else %}
    <h1 class="form-title">New Post</h1>
  {% endif %}

    <form method="post" enctype="multipart/form-data" id="VisitForm" data-cities-url="{% url 'ajax_load_cities' %}" class="visit-form">
    {% csrf_token %}
    
    <label for="country">Country</label>
        {{ form.country }}

    <label for="city_name">City</label>
        {{form.city}}

    <label for="start_date">Start Date</label>
    <input value="{{ visit.start_date|date:'Y-m-d' }}" type="date" name="start_date" id="start_date" required>

    <label for="end_date">End Date</label>
    <input value="{{ visit.end_date|date:'Y-m-d' }}" type="date" name="end_date" id="end_date">

    <label for="content">Content</label>
    <textarea name="content" id="content" rows="4">{{visit.content}}</textarea>

    <label for="photo">Photo</label>
    <input value="{{visit.photo}}" type="file" name="photo" id="photo" accept="image/*" required>

      
      <div class="visit-form-actions">
        {% if visit %}
          <button  class="visit-save-btn" type="submit">Save</button>
          <a href="{% url "visit-details" visit.pk %}" class="visit-back-btn">Back</a>
        {% else %}
          <button class="visit-save-btn" type="submit">Post</button>
          <a href="{% url "visit-list" %}" class="visit-back-btn">Back</a>
        {% endif %}
      </div>

  </form>
</div>
</div>

{% endblock body %}

{% block scripts %}

  <script>
      $("#id_country").change(function () {
        var url = $("#VisitForm").attr("data-cities-url") 
        var countryId = $(this).val()                        

      $.ajax({  
          url: url,
          data: {
             'country': countryId
          },
          success: function (data) {
            $("#id_city").html(data)
          }
     })
    })
  </script>

{% endblock scripts %}

