{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock head %}

{% block body %}
<h1>Following</h1>
<a href="{%url 'user-details' profile_user.pk %}"><i class="fa-solid fa-xmark"></i></a>

{% if following %}
    {% for follow in following %}
        <div class="follow-item">
            <a href="{% url 'user-details' follow.following.pk %}">
                {% if follow.following.profile.profile_photo %}
                    <img src="{{ follow.following.profile.profile_photo.url }}" alt="profile photo" class="profile-img">
                {% else %}
                    <img src="https://res.cloudinary.com/dquu356xs/image/upload/v1757511943/no-pfp_sx5tta.webp" alt="Default Profile" class="profile-img">
                {% endif %} 
                {{ follow.following.username }}
            </a>
            <div class="follow-section">
                {% if request.user != follow.following %}
                    <form method="post" action="{% url 'toggle-follow' follow.following.pk %}" class="follow-form" id="follow-{{ follow.following.pk }}" data-user="{{ follow.following.pk }}">
                        {% csrf_token %}
                        <button type="submit" class="follow-btn">
                        {% if follow.following.pk in user_following_set %}
                            <span class="follow-text" data-user="{{ follow.following.pk }}">Following</span>
                        {% else %}
                            <span class="follow-text" data-user="{{ follow.following.pk }}">Follow</span>
                        {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
            <span class="user-full-name">{{ follow.following.first_name }} {{ follow.following.last_name }}</span>
        </div>
    {% endfor %}
{% else %}
    <p>Not following anyone</p>
{% endif %}

{% endblock body %}
{% block scripts %}
<script>
$(document).ready(function() {
    $('.follow-form').submit(function(e){
        e.preventDefault()

        const user_id = $(this).data('user') 
        const url = $(this).attr('action')

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'user_id': user_id,
            },
            success: function(response) {
                if(response.followed) {
                    $(`.follow-text[data-user=${user_id}]`).text("Following")
                } else {
                    $(`.follow-text[data-user=${user_id}]`).text("Follow")
                }

                $('.followers-count').text(response.followers_count)
                $('.following-count').text(response.following_count)
            },
            error: function(response) {
                console.log('error', response)
            }
        })
    })
})
</script>
{% endblock scripts %}